<div class="container">
  <mat-card class="card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content *ngIf="(this.methods$ | async)?.password.config as config">
      <form #form action="{{config.action}}" method="{{config.method}}">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" name="identifier">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" name="password">
          </mat-form-field>
        </p>

        <input name="csrf_token" id="csrf_token" type="hidden" value="{{this.csrf.get_token()}}">

        <p *ngIf="this.messages$ | async as messages">
          <mat-card *ngFor="let m of messages" class="message">
            {{m.text}}
          </mat-card>
        </p>

        <div class="but-wrapper">
          <button type="submit" (click)="form.submit()" mat-raised-button color="primary">Login</button>
        </div>


      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content *ngIf="(this.methods$ | async)?.oidc.config as config">
      <form #form_github action="{{config.action}}" method="{{config.method}}">
        <input name="provider" id="github_provider" type="hidden" value="github">
        <input name="csrf_token" id="csrf_token_github" type="hidden" value="{{this.csrf.get_token()}}">
        <div class="but-wrapper">
          <button type="submit" (click)="form_github.submit()" mat-raised-button color="primary">GitHub</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
