<div class="container">
  <mat-card class="card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content *ngIf="this.login$ | async as login">
      <form #form action="{{login.config.action}}" method="{{login.config.method}}">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" name="identifier">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" name="password">
          </mat-form-field>
        </p>

        <input name="csrf_token" id="csrf_token" type="hidden" value="{{get_token(login)}}">

        <p *ngIf="this.messages$ | async as messages">
          <mat-card *ngFor="let m of messages" class="message">
            {{m.text}}
          </mat-card>
        </p>

        <div class="but-wrapper">
          <button type="submit" (click)="form.submit()" mat-raised-button color="primary">Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
